<h1>A Little More About Me...</h1>
<p>Come explore the many facets of the wonderful gem that is Alex*.

(*Unlike <%= link_to "alexandrite", "https://en.wikipedia.org/wiki/Chrysoberyl#Alexandrite", class: "external-link" %>, I don't change colors. Sorry to disappoint).</p>
<h2>My Programming Journey</h2>
<p>Where to begin? That you are weak, and we are strong...</p>
<h2>My Core Beliefs</h2>
<ul>
  <li>Balance</li>
  <li>Communication</li>
  <li>Servant Leadership</li>
</ul>
<h2>My Hobbies</h2>
<h3>Hiking</h3>
<p>I love to get outdoors</p>
<h3>Video Gaming</h3>
<p>Todd.jpg</p>
<h3>Sports</h3>
<p>Warriors, Giants, Sharks, Stanford Cardinal</p>
<h3>Anime & Cosplay</h3>
<p>Buu buu! Desu wa</p>
