Headings:<br />
<h1>h1 heading</h1><br />
<h2>h2 heading</h2><br />
<h3>h3 heading</h3><br />
<br />
Text:<br />
normal text<br />
<p>This is a paragraph<p><br />
<em>emphasised text</em><br />
<strong>strongly emphasized text</strong><br />
<br />
Links:<br />
<nav class="navbar"><ul><li class="navigation-link"><a href="#">navigation link</a></li></ul></nav><br />
<a href="#" class="internal-link">internal link</a><br />
<a href="http://www.google.com/" class="external-link">external link</a><br />
