<h1>Alexander Gould</h1>
<p>Full Stack Web Developer in the Bay Area</p>
<p>Hi, I'm Alex. I'm 28 years old & I've been programming computers in some capacity for about half of my life now. I decided in Fall of 2016 that it was finally time to transition all those years of knowledge & experience into a career. Whether you have stylesheets in need of sprucing up, scripts that are slowing you down, or maybe just want another pair of experienced hands maintaining a site that already works, I can help you with that. Go ahead & check out my bio if you want to know more about me, scroll down the page or click here if you want to see some of the work I've done so far, and see who I have to thank for all of this.</p>
<img src="" alt="A picture of me, Alex Gould" />
<h2>Projects</h2>
