<h1>Thanks</h1>
<p>My sincerest thank you to all the following people, businesses & technologies who have helped me along the way, many of whom continue to help me every day:</p>
<ul>
  <li>Mom & Dad - for raising me right, and continuing to support me throughout my journey of life</li>
</ul>
